*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: none;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: none;

}
img{
  width: 100%;
  height: 80vh;
}
section{
    overflow: none;
    background-color: #333;
    color: #fff;
}
.desc{
    border-bottom: 4px #fff solid;
    padding-bottom: 15px;
}
.head{
    font-weight: bold;
    margin-left: 20px;
    display: inline;
}

.para ul{
 display: inline-block;
 list-style: none;
 margin-left: 20px;
 padding-top: 15px;
}
.para li{
    padding-bottom: 10px;
    display: inline;
    font-weight: bold;
    margin-right:10px ;
}
p{
    font-size: larger;
    padding: 20px;
    padding-top: 5px;
}
.toSongs{
    text-align: center;
    padding-bottom: 30px;
}
.toSongs a{
    color: #fff;
    transition:color 2s ease-out;
}
.toSongs a:hover{
    color: rgb(176, 4, 4);
}
.toSongs h1{
    transition:2s ease ;
}
.toSongs h1:hover{
    font-size: xx-large;
}
.para{
    position: relative;
    transform: translateY(15px);
    opacity: 0;
    transition: 1.2s all ease;
  }
  .para.active{
    transform: translateY(0);
    opacity: 1;
  }
.long{
    position: relative;
    transform: translateX(200px);
    opacity: 0.2;
    transition: 1s all ease-in-out;
  }
  .long.active{
    transform: translateY(0);
    opacity: 1;
  }

